[Unit]
Description=Pinging and restart wifi if ping is not succefull

[Service]
Type=simple
ExecStart=enter file path

[Install]
WantedBy=multi-user.target
